<h1>Articles</h1>

<ul>
<% @articles.each do |article| #Loops through each article and displays the title %> 
    <li>
        <%= link_to article.title, article %>
    </li>
<% end %>
</ul>

<%= link_to "New Article", new_article_path %>
